@import "bases"
@import "base-4392f1"

@import "mixins/calc"

@import "bits/backgrounds"
@import "bits/borders"
@import "bits/cursors"
@import "bits/displays"
@import "bits/font-sizes"
@import "bits/margins"
@import "bits/outlines"
@import "bits/overflows"
@import "bits/paddings"
@import "bits/radii"
@import "bits/shadows"
@import "bits/text-decoration"
@import "bits/transitions"
@import "bits/typography"

.bg-shadowy
  background-color: rgba(0,0,0,0.1)

p, label, input[type="text"], textarea, a
  font-size: 1.0rem
  line-height: 1.2rem

a.button[href]
  @extend .fg-white

html, body
  width: 100%
  height: 100%
  font-family: 'Open Sans', sans-serif
  font-weight: 300

  *
    box-sizing: border-box

@import "bytes/buttons"
@import "bytes/containers"
@import "bytes/inputs"
@import "bytes/select-item"
@import "bytes/vert-hack"

@import "kilos/application"
@import "kilos/hoc-menu"
@import "kilos/hoc-modal"
@import "kilos/hoc-select"
@import "kilos/hoc-table"
@import "kilos/loading"
@import "kilos/popups"
