{{#hoc-menu as |menu|}}
  {{#menu.button}}
    <i class="icon ion-navicon bg-0"></i>
  {{/menu.button}}

  {{#menu.body}}
    <div class="clearfix">
      {{#if ranked}}
      <div class="select-item" onClick={{action 'clear'}}>
        <a class="fg-black">{{t 'clear_round'}}</a>
      </div>
      {{/if}}
      <div class="select-item" onClick={{action 'remove'}}>
        <a class="fg-black">{{t 'delete_round'}}</a>
      </div>
    </div>
  {{/menu.body}}
{{/hoc-menu}}
