{{#hoc-menu as |menu|}}
  {{#menu.button}}
    <i class="icon ion-navicon bg-0"></i>
  {{/menu.button}}

  {{#menu.body}}
    <div class="clearfix">
      <div class="select-item">
        <a class="fg-black" onClick={{action 'clear'}}>{{t 'clear_round'}}</a>
      </div>
      <div class="select-item">
        <a class="fg-black" onClick={{action 'remove'}}>{{t 'delete_round'}}</a>
      </div>
    </div>
  {{/menu.body}}
{{/hoc-menu}}
