<div class="clearfix">
  <div class="margin-bottom-10">
    <h1>{{t 'login'}}</h1>
  </div>
  <div class="clearfix">
    <a href="/api/login/google" class="button fg-white">{{t 'login_with_google'}}</a>
  </div>
</div>
