<div class="clearfix loading-spinner">
  <div class="loading-spinner__ball"></div>
  <div class="loading-spinner__ball"></div>
  <div class="loading-spinner__ball"></div>
  <div class="loading-spinner__ball"></div>
  <div class="loading-spinner__ball"></div>
  <div class="loading-spinner__ball"></div>
  <div class="loading-spinner__ball"></div>
</div>
