@import "bulma"
@import "font-awesome"

@import "var/fonts/awesome"
@import "bases/margin"
@import "bases/padding"

html, body
  position: relative
  width: 100%
  height: 100%

html *, body *
  box-sizing: border-box

main#main
  @extend .padding-tb-10

@import "compound/application-header"
