@import "bulma"
@import "font-awesome"

@import "var/fonts/awesome"
@import "bases/margin"
@import "bases/padding"
@import "bases/bounding-box"
@import "bases/positions"
@import "bases/displays"
@import "bases/z-index"

html, body
  position: relative
  width: 100%
  height: 100%

html *, body *
  box-sizing: border-box

main#main
  @extend .padding-tb-10

#popups
  @extend .position-absolute
  @extend .top-0
  @extend .left-0
  @extend .z-50
  @extend .width-50
  @extend .height-0 

@import "compound/application-header"
@import "compound/hoctable"
@import "compound/popup-menu"
