<div class="clearfix">
  <div class="clearfix margin-bottom-10">
    <div class="width-20">
      <div class="float-left balloon-input">
        <input type="text" class="balloon-input__input" />
        <label class="balloon-input__label">{{t 'search'}}</label>
      </div>
    </div>
  </div>
  <div class="clearfix">
    {{game-membership-modal/table delegate=delegate pagination=pagination sorting=sorting}}
  </div>
</div>
