<div class="clearfix">
  <div class="responsive__half">
    <div class="margin-bottom-10">
      <h5>{{t 'your_account'}}</h5>
    </div>
    <div class="clearfix">
      {{users/account-editor manager=model.manager}}
    </div>
  </div>
</div>
