<div class="clearfix">
  <div class="clearfix margin-bottom-10">
    <div class="attention--warning">
      <p class="attention--text">{{t 'lonely_game'}}</p>
    </div>
  </div>
  <div class="clearfix">
    {{#hoc-modal as |modal|}}
      {{#modal.button}}
        <p class="button">{{t 'add_player'}}</p>
      {{/modal.button}}
      {{#modal.body as |modal_body|}}
        {{#modal_body.title}}
          <h5><b>{{t 'add_player'}}</b></h5>
        {{/modal_body.title}}

        {{#modal_body.content}}
          {{game-membership-modal game=game manager=membership}}
        {{/modal_body.content}}
      {{/modal.body}}
    {{/hoc-modal}}
  </div>
</div>
