<div class="clearfix">
  <form method="POST" action="/api/login">
    <div class="margin-bottom-10">
      {{forms/text-input name="email" placeholder=(t 'email')}}
    </div>
    <div class="margin-bottom-10">
      {{forms/password-input name="password" placeholder=(t 'password')}}
    </div>
    <div class="clearfix">
      <div class="float-right">
        <input type="submit" class="button" text="{{t 'submit'}}" />
      </div>
    </div>
  </form>
</div>
