<div class="clearfix">
  <section class="clearfix">
    <div class="vert-hack__table">
      <div class="vert-hack__cell width-8">
        <img src="/images/logo-black.svg" width="100%"/>
      </div>
      <div class="vert-hack__cell padding-left-10">
        <h1><b>{{t 'about'}} {{t 'charcoal'}}</b></h1>
      </div>
    </div>
  </section>
</div>
