<div class="clearfix">
  <div data-global-layer="popups">{{popup-manager}}</div>
  <section class="clearfix">{{application-header}}</section>
  <main class="application-outlet">
    <div class="clearfix loading-spinner__container">
      <div class="loading-spinner__box"></div>
    </div>
  </main>
  <section class="clearfix">{{application-footer}}</section>
</div>
