<div class="clearfix padding-tb-10 bg-white-darken-2 border-bottom-light">
  <div class="vert-hack__table">
    <div class="vert-hack__cell padding-left-10">
      <div class="overflow-hidden">{{yield}}</div>
    </div>
    <div class="vert-hack__cell padding-right-10" style="width 80px">
      <a class="display-inline-block float-right" onClick={{action 'close'}}><i class="ion-close display-block fs-3 fg-black-lighten-10"></i></a>
    </div>
  </div>
</div>
