<a href="/api/login/google" class="button clearfix fg-white display-block float-left">
  <i class="display-block fs-2 float-left ion-social-googleplus"></i>
  <span class="display-block float-left margin-left-5">{{t 'login_with_google'}}</span>
</a>
